{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs !!{% endblock %}

{% block body %}
    <h1>Bonjour !!!</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Dt_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.prenom }}</td>
                <td>{{ auteur.nom }}</td>
                <td>{{ auteur.age }}</td>
                <td>{{ auteur.dtCreation ? auteur.dtCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_auteur_show', {'id': auteur.id}) }}">show</a>
                    <a href="{{ path('app_auteur_edit', {'id': auteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auteur_new') }}" class="new">Create new</a>
{% endblock %}
